/*
*
* {{ properCase containerName }}
*
*/
import React, { useEffect } from 'react';
import { useSelector, useDispatch } from 'react-redux';
import { actions } from './slice';
import { select{{ properCase containerName }} } from './slice/selectors';

interface Props {}

export default function {{ properCase containerName }}(props: Props) {
const dispatch = useDispatch();
const data = useSelector(select{{ properCase containerName }});
useEffect(() => {
dispatch(actions.get());
}, [dispatch]);
console.log(data);
return <h1>Hi {{ properCase containerName }} </h1>;
}